<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main-sec">
        
        <form method="get" action="/form" class="inp-form">
            <button type="submit">Add users</button>
        </form>
       
        <div class="userbody">
            <h3>List of Users</h3>
            <% data.forEach( user=> {%>
                <div class="usercard usercard<%= user.isPromoted %>">
                    <div >
                        <h4>Name: <%= user.name %></h4>
                    
                        <h4>Email:<%= user.email %></h4>
                    </div>
                    <div class="btn-div">
                        <form method="POST" action="/users/<%= user._id %>?_method=PUT">
                            <button id="edit-<%= user.name %>" type="submit">
                              <% if(user.isPromoted){%> <%= 'Demote' %> <%} else{%> <%=
                              'promote'%> <% }%>
                            </button>
                          </form>
                        
                          <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
                            <button id="delete-<%= user.name %>">Delete</button>
                          </form>
                    </div>
                </div>
                <%})%>
        </div>
    </div>
</body>

</html>